<div id="drawer-menu">
    <button class="close"><span>X</span> Close</button>
   
     <h3>Content related to this topic with different tax literacy levels.</h3>
    
    <div class="drawer-links-wrapper">
    
    <div class="literacy-links">
        <p class="dropdown-toggle">Tax Literacy: <span class="tag">Low</span></p>
        <div class="dropdown-content">
        <p><em>Low complexity information that requires no prior tax knowledge.</em></p>
        <ul>
        <li><a href="bas-essentials.html">Business activity statement essentials</a></li>
          <li><a href="bas-preparing.html">Preparing your business activity statement (BAS)</a></li>
          <li><a href="bas-lodging.html">Lodging and paying your BAS</a></li>
          <li><a href="bas-gst-labels.html">Completing the GST labels on your BAS</a></li>
          <li><a href="bas-record-keeping.html">Record Keeping</a></li>
          <li><a href="bas-adjustments.html">Making adjustments on your BAS</a></li>
        </ul>
        </div>
        </div>
    
   <div class="literacy-links">
        <p class="dropdown-toggle">Tax Literacy: <span class="tag">Med</span></p>
       <div class="dropdown-content"> 
       <p><em>Medium complexity information that requires some prior knowledge of tax law.</em></p>
        <ul>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
       </ul>
       </div>
    </div>
    
    <div class="literacy-links">     
        <p class="dropdown-toggle">Tax Literacy: <span class="tag">High</span></p>
        <div class="dropdown-content">
        <p><em>High complexity information that requires a good understanding of tax law.</em></p>
        <ul>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
        </div>
    </div>    
        
    </div>
</div>