<div class="page-info">
    <div class="dropdown">
    
    <p>Tax Literacy: 
        <span class="tag">Low</span></p>
        <div class="explanation" data-toggle="popover" title="Tax Literacy Levels" data-content="<strong>Low:</strong> No prior tax knowledge is required to understand this document.<br /><strong>Medium:</strong> Some prior knowledge of tax is required to understand this document.<br /><strong>High:</strong> A solid understanding of tax law is required to understand this document."><img src="images/questionIcon_18px.png" alt="question mark indicating popup information is available."/></div>
        <p class="dropdown-intro">Looking for a different tax literacy level?</p>
         
    <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <!--<img src="images/arrow_down_whiteback.png" alt="Arrow indicating a dropdown menu is available."/>-->
        </span>
        
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <!--<p>See related information with different <strong>Tax Literacy levels</strong>.</p>-->
        <ul class="literacy-links">
            <li class="tag">Low</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
        <ul class="literacy-links">
            <li class="tag">Med</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
        <ul class="literacy-links">
            <li class="tag">High</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
        
    </div>
</div>

