<div class="page-info">
    <div class="drawer-link">
    
    <p>Tax Literacy: 
        <span class="tag">{{ page.tag }}</span></p>
        <div class="explanation" data-toggle="tooltip" title="<h3>Tax Literacy Levels</h3><p><strong>Low:</strong> No prior tax knowledge is required to understand this document.</p><p><strong>Medium:</strong> Some prior knowledge of tax law is required to understand this document.</p><p><strong>High:</strong> A solid understanding of tax law is required to understand this document.</p>"><img src="images/questionIcon_18px.png" alt="question mark indicating popup information is available."/></div>
        <p class="drawer-intro">Looking for a different tax literacy level?</p>
         
    <span class="drawer-toggle" id="drawer-toggle" aria-haspopup="true" aria-expanded="true"></span>
        
    </div>
</div>

