<div class="page-info">
    <div class="dropdown">
    
    <p>Tax Literacy: 
        <span class="tag">{{ page.tag }}</span></p>
        <div class="explanation" data-toggle="tooltip" title="<h3>Tax Literacy Levels</h3><p><strong>Low:</strong> No prior tax knowledge is required to understand this document.</p><p><strong>Medium:</strong> Some prior knowledge of tax law is required to understand this document.</p><p><strong>High:</strong> A solid understanding of tax law is required to understand this document.</p>"><img src="images/questionIcon_18px.png" alt="question mark indicating popup information is available."/></div>
        <p class="dropdown-intro">Looking for a different tax literacy level?</p>
         
    <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <!--<img src="images/arrow_down_whiteback.png" alt="Arrow indicating a dropdown menu is available."/>-->
        </span>
        
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <!--<p>See related information with different <strong>Tax Literacy levels</strong>.</p>-->
        <ul class="literacy-links">
            <li class="tag">Low</li>
            <li><a href="bas-essentials.html">Business activity statement essentials</a></li>
              <li><a href="bas-preparing.html">Preparing your business activity statement (BAS)</a></li>
              <li><a href="bas-lodging.html">Lodging and paying your BAS</a></li>
              <li><a href="bas-gst-labels.html">Completing the GST labels on your BAS</a></li>
              <li><a href="bas-record-keeping.html">Record Keeping</a></li>
              <li><a href="bas-adjustments.html">Making adjustments on your BAS</a></li>
        </ul>
        <ul class="literacy-links">
            <li class="tag">Med</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
        <ul class="literacy-links">
            <li class="tag">High</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
        
    </div>
</div>

