//Tags in tax literacy info box at the top of the page.
.page-info {
    margin: 0 0 2em 0;
    padding: 10px 0;
    height: 70px;
    
    @media(min-width: 550px) {
        height: 45px;   
    }
    
    p {
        margin-bottom: 0;
        font-size: 15px;
        float: left;
        color: $grey-mid;
        
        @media (min-width: 850px){
            font-size: 16px;
        }
    }
    .tag {
        background: lighten($teal-mid, 3%);
        padding: 5px 10px;
        margin: 0 0 0 0;
        border-radius: 4px;
        font-family: "swiss721bt", 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: #fff;
    }
    .explanation {
        display: inline-block;
        float: left;
        margin: 0 15px 0 5px;
        padding: 0;
        
        img {
            padding: 0;
            margin: 0 0 0 0;
        }
    }
    .dropdown-intro {
        margin: 4px 0 0 0; 
        clear: left;
        
        @media(min-width: 550px) {
            clear: none;
            margin: 0 0 0 6px; 
        }
        @media(min-width: 550px) {
            margin: 0 0 0 12px; 
        }
    }
    .dropdown-toggle {
        width: 24px;
        height: 24px;
        margin: 4px 0 0 6px;
        display: block;
        float:left;
        background: url(../images/arrow_down_whiteback.png) no-repeat;
        background-size: 24px;
        
        @media(min-width: 550px){
            width: 24px;
            height: 24px;
            margin: 0 0 0 10px;
            background-size: 24px;
        }
    }
    .open {
        .dropdown-toggle {
            background: url(../images/arrow_up_whiteback.png) no-repeat;
            background-size: 24px;
        }
    }
    .dropdown-menu {
        width: 100%; 
        padding: 12px 20px 30px;
        top: 58px;
        background: lighten($grey-lightest, 15%);
        background: rgb(245, 245, 245);
        border: none;
        box-shadow: 0 0 0;
        border-bottom: 5px solid $teal-mid;
        border-radius: 0;
        
        @media(min-width: 550px){
            top: 33px;
        }
        p {
            width: 100%;
            padding: 0 0 12px 0;
            border-bottom: 1px solid $grey-light;
        }   
        .literacy-links {
            width: 100%;
            padding: 17px 0 0 0;
            display: block;
            float: left;
            
            li {
                list-style-type: none;
                padding: 5px 10px 5px 20px;
                background-image: none;
                margin: 0;
                line-height: 20px;
                
                &.tag {
                    width: auto;
                    display: inline-block;
                    padding: 3px 10px;
                    margin: 0 0 8px 2px;
                    font-weight: normal;
                    letter-spacing: 0.05em;
                }
            }
            a {
                text-decoration: none;
                color: $grey-mid;
                font-weight: normal;
                background: url(../images/arrow_left_greyback.png) no-repeat;
                background-size: 15px;
                background-position-x: 20px;
                background-position-y: 3px;
                padding: 0 5px 0 40px;
                font-size: 16px;
                margin-left: -40px;
                text-indent: 40px;
                
                &:focus, &:hover, &:active {
                    text-decoration: underline;
                }
            }
            
            @media(min-width: 500px) {
                width: 33.3%;
            }
        }
    }
}

// Tags in general page content.
.see-also-links {
    padding-left: 20px;
    li {
        margin-bottom: 10px; 
        background: url(../images/arrow_left_whiteback.png) no-repeat;
        background-size: 10px;
        background-position-x: 0;
        background-position-y: 3px;
        list-style-type: none;
        padding-left: 16px;
    }
    a {
       
        
    }
    .tag {
        background: lighten($teal-mid, 3%);
        padding: 4px 6px 3px;
        margin: 0 0 0 7px;
        border-radius: 4px;
        font-family: "swiss721bt", 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 11px;
        letter-spacing: 0.05em;
        color: #fff;
        clear: both;
    }
    p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}